/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Omarchy and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #000000;
    --color01: #a78c83;
    --color02: #d3bba2;
    --color03: #ffe7cc;
    --color04: #d4a37e;
    --color05: #c69e9a;
    --color06: #e9d4ae;
    --color07: #FFFFFF;
    --color08: #686163;
    --color09: #c2a094;
    --color10: #f0d0af;
    --color11: #ffe9c7;
    --color12: #eeb88e;
    --color13: #e3b1ac;
    --color14: #ffeaba;
    --color15: #FFFFFF;
}
